.scoreWrapper {
    margin: auto;
    width: 500px;
}

.score {
    display: inline-flex;
    font-size: 40px;
    background-color: rgba(233, 199, 104, 0.664);
    padding: 15px 30px;
    color: rgb(92, 67, 0);
}